<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label> <b> Titulo </b></label>
      <input #title type="text" class="form-control" formControlName="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label> <b>Descripcion</b></label>
      <input type="text" class="form-control" formControlName="description" placeholder="Description">
    </div>
    <input type="hidden" formControlName="id">
    <button type="submit" class="btn btn-primary" [disabled]="this.form.status!='VALID'">Guardar</button>
</form>
