<div class="container">
    <div class="div1"> 
        <span class="font"> Nicolás López-Ibarra Lúque </span>  
        <a> <img class="logo" src="assets/images/logo.jpg"></a>  
        <p class="about">aqui teneís enlace a gihub y a linkedin</p>
            <a href="https://github.com/NMachinne"> <img class="git" src="assets/images/git.png"></a>
            <a href="https://www.linkedin.com/in/nicol%C3%A1s-l%C3%B3pez-ibarra-luque/"> <img class="lk" src="assets/images/Linkedin.png"> </a>           
    </div>
</div>
