<div class="container">
    <div class="div1"> 
        <span class="font"> Nicolás López-Ibarra Lúque </span>
        <a href="https://github.com/NMachinne"> <img class="img1" src="assets/images/git.png"> </a>
        <a href="https://www.linkedin.com/in/nicol%C3%A1s-l%C3%B3pez-ibarra-luque/"> <img class="img2" src="assets/images/Linkedin.png"> </a>
        <p class="font"> <br> 
            </p>
        <p class="about">  </p>
        <img class="img3" src="assets/images/angular.png">
        <img class="img3" src="assets/images/html.png">
        <img class="img3" src="assets/images/css.png">
    </div>
</div>
