@import "@angular/material/theming";
@include mat-core();

.light-mode {
  .form-control {
    background-color: #ADD8E6 !important;
  }

  background-color: #8AC7DB;

  nav{
    background-color: #ADD8E6 !important;
    .nav-item {
      background-color:  #ADD8E6 !important;
      .dropdown-menu {
        background-color:  #ADD8E6 !important;
        .dropdown-item {
          background-color:  #ADD8E6 !important;
        }
        li {
          background-color:  #ADD8E6 !important;
        }
        
      }
    }
  }
  .btn-primary {
        background-color: #21b5e2 !important; 
        font-weight: bold;
        color : black;
  }
  .btn-secondary {
    background-color: orangered !important;  
  }
  .btn-terciary {
    background-color:  greenyellow!important;  
  }
  .modal {
    .modal-dialog {
      background-color: #ADD8E6 !important;
      .modal-content {
        background-color: #ADD8E6 !important;
        .modal-header {
          background-color: #ADD8E6 !important;
        }
      }
    }
   
  }
}

.dark-mode {
  .div1 {
    background-color: #464242 !important;
  }

  .div3 {
    background-color: #464242 !important;
  }

  .form-control {
    background-color: #333 !important;
    color: white !important;
    &input:focus {
      color: white !important;
    }
    &input::placeholder {
      color: white !important;
    }
  }

  background-color: #333 !important;
  color: whitesmoke;

  li{
    background-color: #333;
    color: white;
  }
  nav{
    background-color: #464242 !important;
    .navbar-brand{
      color:white;
    }

      .nav-link{
        color:white !important;
        background-color:  #464242 !important;
      }
      .nav-item {
        background-color:  #464242 !important;
        .dropdown-menu {
          background-color:  #464242 !important;
          .dropdown-item {
            background-color:  #464242 !important;
            color:white;
          }
          li {
            background-color:  #464242 !important;
          }
          ul {
            background-color:  #464242 !important;
          }
        }
      }
    .navbar-toggler-icon{
      filter: invert(99%) sepia(1%) saturate(4214%) hue-rotate(223deg) brightness(118%) contrast(100%);
    }
  }

  .btn-primary {
    background-color: black !important; 
    font-weight: bold;
    color : white;
}
.btn-secondary {
background-color: orangered !important;  
}
.btn-terciary {
background-color:  greenyellow!important;  
}

  
  .modal {
    .modal-dialog {
      background-color:  #464242 !important;
      .modal-content {
        background-color: #464242 !important;
        .modal-header {
          background-color:  #464242 !important;
        }
      }
    }
   
  }
}

.dar {
  margin-left: 95%;
}

#credential_picker_container {
  display: none !important;
}/* You can add global styles to this file, and also import other style files */
asl-google-signin-button div{
  display:flex;
  flex-direction: row;
  justify-content: center;
  text-align:center;
}


#credential_picker_iframe {
  display: none !important;
}